#BackgroundImage {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -9999;
}

#BackgroundImage img {
  height: 100vh;
  object-fit: cover;
  transition: all 0.4s ease-in 0.1s;
  width: 100%;
}
