#DatePicker th {
  font-weight: normal;
  text-align: center;
}

#DatePicker td .btn,
#DatePicker th .btn {
  text-decoration: none;
}

#DatePicker td .btn {
  padding: 0.375rem;
}

#DatePicker td .btn:focus,
#DatePicker td .btn:hover,
#DatePicker td .btn:active,
#DatePicker th .btn:focus,
#DatePicker th .btn:hover,
#DatePicker th .btn:active {
  background-color: var(--bs-light);
  border: 1px solid var(--bs-dark);
}
